html {
    font-size: 62.5%;
    box-sizing: border-box
}

body{
    font: 2rem  'Poiret One', Helvetica;
    height: 100vh;
    margin: 0;
}
.cap-font{
    font-family: 'Major Mono Display', monospace; 
    color:rgba(152, 99, 198, 0.7); 
    text-align: center;
  
}
.cap-font2{
    font-family: 'Major Mono Display', monospace; 
    color:rgba(152, 99, 198, 0.7); 
    margin-top: 0; 
}
.inner-text{
    font-size: 2.5rem;
}

/* HOME PAGE LAYOUT  */
.grid-container{
    display: grid; 
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 7rem 1fr 5rem;
    height: 90%
}
.main{
    grid-area: main;
}

/* NAVIGATION AND HEADER */
.header{
    grid-area: header;
    background-color: white; 
    color: purple; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: .5rem;
}
.logo {
    height: 5rem;
    padding-left: 2rem;
}
.cart{
    height: 2.5rem;
    align-self: center;
}
.menu-links{
    padding-right: 3.5rem;
}
.menu-links a{
    text-decoration: none;
    color:black;
    padding-left: 3.5em;
    font-size: 1.5rem;
    font-weight: bolder;
}
.menu-links a:hover {
    color: purple;
    font-size: 1.8rem;
}
.shopping-cart-login {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.shopping-cart-login a {
    text-decoration: none;
    padding-left:.5em;
    color: black;
    font-size: 1.5rem;
    font-weight: bolder;
    align-self: center;
}
.shopping-cart-login a:hover{
    color: purple;
    font-size: 1.8rem;


}
/* Home Image  */
.intro1 {
    width: 100%;
}
/* HOW IT WORKS */
.how-it-works {
    padding: 2rem;
}   
.works-info {
    text-align: center;
    padding-right: 5rem;
    padding-left: 5rem;
}
.order-display {
    display: flex;
    padding-right: 5%;
    padding-left:5%;
}

.order {
    border: 3px solid #FECEFF;
    padding: 1rem 3rem;
    margin: 1rem;
    min-width: 15rem;  
    min-height:  21rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#order {
    opacity: 70%;
    height: 7rem;
    width: auto;   
}
/* PAST BATH SETS */
.past-box-reveal {
    background-color:#FECEFF;
    padding: 2rem 3rem;
    
}
.past-bombs {
    display: grid;
    grid-template-rows: .75fr 1fr .75fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    max-height: 65rem;
}
.bomb1 {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-start: 1;
    grid-row-end: 2   
}
.bomb2 {
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: 1fr 1fr;   
}
.bomb3 {
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: 1fr 1fr;   
}
.bomb4 {
    grid-row-start: 2;
    grid-row-end: 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.bomb5 {
    grid-row-start: 2;
    grid-row-end: 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.bomb6 {
    grid-column-start: 3;
    grid-column-end: 5;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-start: 3;
    grid-row-end: 4;

}
.past-bombs #bomb{
    text-align: center;
    background-color: white;
    padding: 5%;
    
}
.bomb1.div{
    align-self: center;
}
.description{
    font-size: 2rem;
    text-align: center;
    
}
.description-small{
    font-size: 1.1rem;
    text-align: center;
    padding: 0;
    margin: 0;
}

.subscribe{
    font-family: 'Major Mono Display', monospace; 
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    color: white;
    font-weight: bolder;
    background-color: rgba(152, 99, 198, 0.7);
    border: none;
   
    margin: 2rem;
   
}
.action-button{
    display: grid;
    justify-items: center;

}

/* Ingredients */
.ingredients{
    display: grid;
    grid-template-columns: 1fr .75fr;
    padding: 2rem 0 2rem 3rem;
}
#bath{
    width: 100%;
    max-width: 60rem;
}


.bath-tub{
    justify-items: end;
    display: grid;
    padding-top: 2rem;
    align-items: center;
  
}
.ingredient-logos{
    display: grid; 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    max-width: 35rem;
    margin: 0 auto;
   
}
#ingredients{
    height: 5rem;
    width: auto;
    padding-bottom: 2rem;
   
   
}
.self-care{
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ingredient-logos div{
    display: grid;
    align-items: end;
    justify-items: center;
}
